.registerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 3rem;
    margin-top: 10rem;
}.registerSpan{
    color:red;
}.registerForm{
    display: flex;
    padding: 2rem;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 15px;
    background-color: #202027;
}.formInput{
    border: 1px solid #1762a7;
    opacity: 30%;
    min-width: 320px;
    background-color: #202027;
    padding: 0.5rem;
}.submitButton{
    width: 100%;
    background-color: #1762a7;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
}.formLabel{
    font-weight: 600;
}

.registerTitle{
    font-size: 3rem;
}.registerSpan{
    color:#bc3a80;
    font-size: 3rem;
}